/* General Demo Style */
@import url(//fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
  font-family: 'codropsicons';
  src:url('../fonts/codropsicons/codropsicons.eot');
  src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
    url('../fonts/codropsicons/codropsicons.woff') format('woff'),
    url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
    url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
  font-family: 'Oswald', Calibri, Arial, sans-serif;
  color: #6b7381;
  background: #000000;
}

a {
  color: #000000;
  text-decoration: none;
  font-family: "Cicle";
}

a:hover,
a:active {
  color: #000000;
}

header h1 {
  padding-left: 180px;
  font-family: "De Valencia";
  color: #ffffff;
  font-size: 60px;
  text-align: left;
}

/* Header Style */
.container > header {
  width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

.container > header {
  text-align: center;
  background: rgba(0,0,0,0.01);
}

.container > header h1 {
  font-size: 2.625em;
  line-height: 1.3;
  margin: 0;
  font-weight: 300;
  float: left;
  color: #ffffff;
  font-family: "De Valencia";
  vertical-align: middle;
}

.container > header span {
  display: block;
  font-size: 60%;
  opacity: 0.8;
}

/* To Navigation Style */
.codrops-top {
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  width: 100%;
  font-size: 0.69em;
  line-height: 2.2;
}

.codrops-top a {
  padding: 0 1em;
  letter-spacing: 0.1em;
  color: #6b7381;
  display: inline-block;
}

.codrops-top a:hover {
  color: #424b5a;
  background: rgba(255,255,255,1);
}

.codrops-top span.right {
  float: right;
}

.codrops-top span.right a {
  float: left;
  display: block;
}

.codrops-icon:before {
  font-family: 'codropsicons';
  margin: 0 4px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
  content: "\e001";
}

.codrops-icon-prev:before {
  content: "\e004";
}

/* Demo Buttons Style */
.codrops-demos {
  padding-top: 1em;
  font-size: 0.9em;
}

.codrops-demos a {
  display: inline-block;
  margin: 0.5em;
  padding: 0.7em 1.1em;
  border: 3px solid #6b7381;
  color: #6b7381;
  font-weight: 700;
}

.codrops-demos a:hover,
.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover {
  opacity: 0.6;
}

@media screen and (max-width: 25em) {

  .codrops-icon span {
    display: none;
  }

}

/* BANNER2 */

.banner2 {
  background: #000000;
  background-image: url("../images/header.png");
  background-size: cover;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  max-height: 100px;
  }

.banner2 ul {
  margin: 0 auto;
  vertical-align: middle;
}

.banner2 ul li {
  list-style-type: none;
  display: inline-block;
  vertical-align: middle;
  margin-top: 0px;
  margin-right: 50px;
  margin-left: 50px;
  font-weight: 900;
}

 head nav {
   background-color: #000000;
 }
 head nav ul {
   display: block;
   text-align: center;
   float:right;
   vertical-align: middle;
 }
 head nav ul > li {
   list-style-type: none;
   display: block;
   margin:15px 15px;
   vertical-align: middle;
   text-align: middle;
 }

.banner2 h1{
   font-family: "Cicle";
   color: #000000;
   font-size: 18px;
   text-align: middle;
   font-style: none;
 }

a {
  color: #000000;
  text-decoration: none;
  font-family: "Cicle";
}

.banner2 a img {
  margin-top: -50px;
}

/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
  content:"";
  display:table;
}
.group:after {
  clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}

/*  GRID OF THREE  */
.span_3_of_3 {
  width: 100%;
}
.span_2_of_3 {
  width: 66.1%;
}
.span_1_of_3 {
  width: 32.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
  .col { margin: 1% 0 1% 0%;}
  .span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}

footer {
  background-color: #000000;
  color: #FFFFFF;
  height: 70px;
  position: relative;
  overflow: hidden;
  z-index: 0;
}
footer p, footer nav ul {
  font-family: "Cicle";
  font-size: 14px;
  font-weight: 100;
  text-align: center;
  margin: 10px auto 0;
  padding:0;
  text-decoration: none;
}
footer nav ul li {
  list-style-type: none;
  display: inline;
  text-decoration: none;
}
footer nav ul li a {
  color: #FFFFFF;
  text-decoration: none;
}
footer .logo {
  margin: 0 auto;
  display: block;
  width:60px;
}

/* WHITE */

.header .white {
  text-align: center;
  display: block;
  position: relative;
  background: #000000;
  padding-top: 10px ;
  padding-bottom: 300px;
  }

.header .white h1 {
  padding-left: 180px;
  font-family: "De Valencia";
  color: #ffffff;
  font-size: 60px;
  text-align: left;
}

header img {
width: 990px;
margin-top:60px;
margin-left:-27px;
}
