 html, body{
   overflow-x: hidden;
 }
 body {
   font-family: "Cicle";
 }
 h1{
   font-family: "Hello Stockholm";
   animation-name: "fadeInUpBig";
   animation-duration: 4s;
   font-size:10px;
 } 

 h2, h3, h4, h5, h6 {
   font-family: "Oswald";
 }

 p {
   font-size:16px;
   line-height: 19px;
   font-weight: 100;
 }

 a .button1 {
  text-decoration: none;
  color: red;
  padding: 15px 32px;
  text-align: center;
  font-size: 24px; 
  font-family: "Oswald";
  width: 100%;
  letter-spacing: 2px;
  font-weight: 900;
  }


  /* GRID */


 .container {
   width: 960px;
   margin-right: auto;
   margin-left: auto;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
 }

 .container-trend {
   margin-right: auto;
   margin-left: auto;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
   padding-bottom: 500px;
   padding-top: 50px;
 }

 .container:before,
 .container:after {
   content: " ";
   display: table;
 }
 .container:after {
   clear: both;
 }
 .one-half, .one-third, .one-fourth {
   width:96%;
   float:left;
   position:relative;
   min-height: 1px;
   margin: 20px;
 }

@media (min-width: 768px) {
   .container {
     width: 750px;
   }
 }
 @media (min-width: 992px) {
   .container {
     width: 970px;
   }
   .one-half {
     width:46%;
   }
   .one-third {
     width:29.33333%;
   }
   .one-fourth {
     width:21%;
   }
 }
 @media (min-width: 1200px) {
   .container {
     width: 1170px;
   }
 }

footer {
  background-color: #000000;
  color: #FFFFFF;
  height: 150px;
  position: relative;
  overflow: hidden;
  z-index: 0;
}
footer p, footer nav ul {
  font-size: 14px;
  font-weight: 100;
  text-align: center;
  margin: 10px auto 0;
  padding:0;
}
footer nav ul li {
  list-style-type: none;
  display: inline;
}
footer nav ul li a {
  color: #FFFFFF;
  text-decoration: none;
}
footer .logo {
  padding: 2em 0;
  margin: 0 auto;
  display: block;
  width:60px;
}


  /* HEADER */

 header {
    background-color:#000000;
    text-align: center;
    display: block;
    position: relative;
    background-size: cover;
    padding-top: 10px;
    padding-bottom: 10px;
   }

 .header {
  z-index: 1;
  position: relative;
}

.header ul {
  margin: 0 auto;
}

.header ul li {
  list-style-type: none;
  display: inline-block;
}

 header nav {
   background-color: #000000;
 }
 header nav ul {
   display: block;
   text-align: center;
   float:right;
 }
 header nav ul > li {
   list-style-type: none;
   display: block;
   margin:15px 15px;
 }

 header nav ul > li.btn-outline:hover {
   background: #000000;
   color: #f00;
 }
 header nav ul > li > a {
   color:#ffffff;
   text-decoration: none;
 }
 header nav ul > li.btn-outline:hover > a {
   color:#000000;
   background: #ffffff
 }

 header .site-logo {
  text-align: left;
  margin:0 auto;
  display:block;
 
}


/* BUTTONS */
.btn {
  color: #FFFFFF;
  font-weight: 700;
  text-decoration: none;
  padding: 10px 30px;
}

/* SHELF */

.shelf {
  text-align: center;
  display: block;
  position: relative;
  background: url("../images/pool-water.png") no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  padding-top: 50px ;
  padding-bottom: 0px;
  }

.shelf h1 {
  color: #020202;
  font-family: "Hello Stockholm";
  font-size: 500px;
  margin: 0;
  vertical-align: middle;
}

/* BENEFITS */
.benefits {
  text-align: center;
  display: block;
  position: relative;
  background: #b1e0f6;
}

.benefits ul {
  margin: 0 auto;
}

.benefits ul li {
  list-style-type: none;
  display: inline-block;
}
.benefits i {
  color: #020202;
  font-size: 60px;
  margin: 0;
  vertical-align: middle;
}
.benefits h2 {
  color: #f00;
  font-size: 55px;
  margin: 0 auto;
  letter-spacing: 10px;
  font-style: italic;
  font-weight: bold;
  margin-left:50px;
}

.benefits h3 {
  color: #020202;
  font-size: 100px;
  margin: 0;
  vertical-align: middle
}

/* TREND */
.trend {
  text-align: center;
  display: block;
  position: relative;
  background: #eeb1ba url("../images/pink-bg.png") no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  padding-top: 100px ;
  padding-bottom: 20px;
  }

.trend ul {
  margin:0;

}

.trend ul li {
  list-style-type: none;
  display: inline-block;
}

.trend h1 a {

  text-decoration: none;
  color: #ea3131;
  text-align: center;
  font-size: 24px; 
  font-family: "Oswald";
  width: 100%;
  letter-spacing: 2px;
}

.trend h2 {
  color: #020202;
  font-size: 100px;
  margin: 0;
  vertical-align: middle;
}

.trend h3 {
  color: #020202;
  font-size: 20px;
  margin: 0;
  vertical-align: middle
}

.trend p {
   font-size:18px;
   line-height: 19px;
   font-weight: 100;
   margin-right: 20em;
   letter-spacing: 1px;
}

.trend img {
    width:60%;
    height: auto;
}

/* FLOAT */
.float {
  text-align: center;
  display: block;
  position: relative;
  background: #53c7ff url("../images/blue-bg.png") no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  padding-top: 0px ;
  padding-bottom: 150px;
  }

.float ul {
  margin: 0 auto;

}

.float ul li {
  list-style-type: none;
  display: inline-block;
}

.float h1 {
  color: #ff0;
  font-size: 100px;
  margin: 0;
  vertical-align: middle;
  font-family: "Oswald" ;
  font-style: italic;
  font-weight: 900;
}

.float h3 a {
  text-decoration: none;
  color: #ffffff;
  text-align: right;
  font-size: 24px; 
  font-family: "Oswald";
  width: 100%;
  letter-spacing: 2px;
}

.float p {
   font-size:16px;
   line-height: 19px;
   font-weight: 100;
   margin-right: 20em;
}

.float img {
    width:100%;
    height: auto;
}

/* FEEDBACK */
.feedback {
  text-align: center;
  display: block;
  position: relative;
  background: #ff0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  padding-top: 50px ;
  padding-bottom: 20px;
  }

.feedback ul {
  margin: 0 auto;

}

.feedback ul li {
  list-style-type: none;
  display: inline-block;
}

.feedback h1 {
  color: #009fff;
  font-size: 150px;
  margin: 0;
  font-family: "Engravers MT" ;
}

.feedback h2 {
  color: #000000;
  font-size: 32px;
  margin: 0;
  font-family: "Cicle" ;
}

.feedback h3 {
  text-decoration: none;
  color: #000000;
  text-align: right;
  font-size: 24px; 
  font-family: "Oswald";
  width: 100%;
  letter-spacing: 2px;
}

.feedback p {
   font-size:32px;
   line-height: 40px;
   font-weight: bold;
   margin-right: 20em;
   letter-spacing: 1px;
}

.pad {
  padding-bottom: 50px;
}

/* ABOUT */
.about {
  text-align: center;
  display: block;
  position: relative;
  background: #000000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  padding-top: 70px ;
  padding-bottom: 70px;
  }

.about ul {
  margin: 0 auto;
  text-align: left;

}

.about ul li {
  list-style-type: none;
  display: inline-block;
  text-align: left;
}

.about h1 {
  color: #ffffff;
  font-size: 50px;
  margin: 0;
  font-family: "Oswald" ;
  text-align: left;
}

.about h2 {
  color: #000000;
  font-size: 32px;
  margin: 0;
  font-family: "Cicle" ;
}

.about h3 {
  text-decoration: none;
  color: #000000;
  text-align: right;
  font-size: 24px; 
  font-family: "Oswald";
  width: 100%;
  letter-spacing: 2px;
}

.about p {
   font-size:18px;
   line-height: 25px;
   font-weight: 100;
   margin-right: 20em;
   letter-spacing: 1px;
   color: #ffffff;
   text-align: left;
}

/* LINKS */
.links {
  text-align: left;
  display: block;
  position: relative;
  background: #bfbfbf;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  padding-top: 50px ;
  padding-bottom: 70px;
  }

.links ul {
  margin: 0 auto;

}

.links ul li a {
  list-style-type: none;
  display: inline-block;
  text-decoration: none;
  color: #000000;
  line-height: 30px;
}

.links h1 {
  color: #009fff;
  font-size: 150px;
  margin: 0;
  font-family: "Engravers MT" ;
}

.links h2 {
  color: #000000;
  font-size: 32px;
  margin: 0;
  font-family: "Cicle" ;
}

.links h3 {
  text-decoration: none;
  color: #000000;
  text-align: right;
  font-size: 24px; 
  font-family: "Oswald";
  width: 100%;
  letter-spacing: 2px;
}

.links p {
   font-size:32px;
   line-height: 40px;
   font-weight: bold;
   margin-right: 20em;
   letter-spacing: 1px;
}

.links i {
  font-size: 14px;
}
/* PRICING */

.pricing {
  background: #000000;
  background-size: auto;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 100px;
}

.pricing h2 {
  color: #ffffff;
  margin:50px;
  font-family: "De Valencia";
  font-size: 50px;
}

.pricing p {
  color: #ffffff;
  margin:50px;
  font-family: "Cicle";
  font-size: 32px;
  line-height: 45px;
}

.pricing ul {
  margin: 0 auto;
  padding: 0em 0;
}
.pricing ul li {
  list-style-type: none;
}
.box {
   border-radius: 10px;
  padding: 0 15px 15px;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
  min-height: 500px;
  position: relative;
  margin-top: 25px;
}
.box.middle {
  min-height: 485px;
  margin-top: 0px;
}
.box h3 {
   border-top-right-radius: 10px;
   border-top-left-radius: 10px;
  font-family: "Crete Round";
  font-weight: 300;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  background: #197a87;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0,40);
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  margin: 0 -15px 40px;
  padding: 20px 0;
}
.box h4 {
  font-size: 50px;
  font-weight: normal;
  margin: 20px 0 10px;
  color: #561d68;
}
.box h4 span {
  font-size: 32px;
  vertical-align: top;
}
.box h4 span.month {
  font-family: "Nunito";
  font-weight: 100;
  color: #888888;
  font-size: 20px;
  vertical-align: middle;
}
.box ul li {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 100;
}
.box .btn {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  font-family: "De Valencia"; 
  font-size: 49px;
}
.small {
  font-size: 12px;
  color: #FEFEFE;
  line-height: 15px;
  font-style: italic;
}

.box.middle2 {
  min-height: 550px;
  margin-top: 0px;
   background: #000000 url("../images/city3.jpg") no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-shadow: 2px 2px #333333;
}

.box.middle1 {
  min-height: 550px;
  margin-top: 0px;
   background: #000000 url("../images/mountain.png") no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-shadow: 2px 2px #333333;
}

.box.middle3 {
  min-height: 550px;
  margin-top: 0px;
   background: #000000 url("../images/beach2.png") no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-shadow: 2px 2px #333333;
}


/* TESTIMONIALS */
.testimonials {
  padding: 4em 0;
  text-align: center;
}
.testimonials h2 {
  color: #000000;
}
.testimonials ul li {
  list-style-type: none;
}
.testimonials blockquote {
  color: #FFFFFF;
  text-align: left;
  font-style: italic;
  background: #561d68;
  position: relative;
  padding: 30px;
  width: auto;
  margin: 0;
}
.testimonials blockquote:after {
  top: 100%;
  left: 13%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-top-color: #561d68;
  border-width: 10px;
  margin-left: -10px;
}
.testimonials img {
  height: 65px;
  width: 65px;
  border-radius: 50%;
  float: left;
  display: inline-block;
  margin: 20px 10px 0 0;
}
.testimonials p.name {
  float: left;
  display: inline-block;
  text-align: left;
  font-size: 13px;
  margin-top: 30px;
}

/* FOOTER */

footer {
  background-color: #333333;
  color: #FFFFFF;
  height: 150px;
  position: relative;
  overflow: hidden;
  z-index: 0;
  padding-bottom: 45px;
}
footer p, footer nav ul {
  font-size: 14px;
  font-weight: 100;
  text-align: center;
  margin: 10px auto 0;
  padding:0;
  vertical-align: 
}
footer nav ul li {
  list-style-type: none;
  display: inline;
}
footer nav ul li a {
  color: #FFFFFF;
  text-decoration: none;
}
footer .logo {
  padding: 2em 0;
  margin: 0 auto;
  display: block;
  width:60px;
}
footer .one-third {
  width:96%;
  min-height: 1px;
  margin: 0 2% 0px;
}

@media (min-width: 768px) {

  footer .one-third {
    width:96%;
    min-height: 1px;
    margin: 0 2% 0px;
  }
}

@media (min-width: 992px){
   footer {
     background-color: #000000;
     height: 60px;
  }
  footer .one-half {
    width:29.33333%;
    float: left;
    position: relative;
    min-height: 1px;
    margin: 0 2% 20px;
  }
  footer p, footer nav ul{
     padding: 1em 0;
     text-align: middle;
   }
   footer .right-footer-block {
     background-color: #000000;
   }
   footer .logo{
     padding: 2em 0 2em 1.5em;
     width:80px;
   }
}
   
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
    .one-half {
      width: 46%;
    }
    .one-third {
      width: 29.33333%;
    }
    .one-fourth {
        width: 21%;
     }
     .testimonials .one-fourth {
      width:46%;
     }
     .testimonials .alternate {
      margin-top:0px;
     }
    header .site-logo {
      display:inline-block;
    }
    header nav ul {
      display: inline;
      text-align: right;
      float: right;
      margin: 0;
    }
    header nav ul > li {
      list-style-type: none;
      display: inline-block;
      margin: 0 15px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
    .testimonials .one-fourth {
      width:21%;
    }
    .testimonials ul li.alternate {
      margin-top:20px;
    }
   }
   @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  @media (min-width: 1920px) {
    .container {
      width: 1800px;
    }
  }
  
/* LOGO */
.logo {
  text-align: center;
  display: block;
  position: relative;
  background: #000000;
  padding-top: 100px;
  padding-bottom: 10px;
  }

/* DESCRIPTION */

.description {
  text-align: center;
  display: block;
  position: relative;
  background: #000000;
  padding-top: 50px ;
  padding-bottom: 50px;
  }

  .description p {
  color: #ffffff;
  margin:50px;
  font-family: "Cicle";
  font-size: 32px;
  line-height: 45px;
}

